body {
    margin: 0;
    background: #eef1f6;
    font-family: "Poppins", sans-serif;
}

/* MAIN LAYOUT */
.container {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 95%;
    margin: 20px auto;
    gap: 20px;
}

/* FORM SECTION */
.form-section {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.form-title {
    font-size: 24px;
    color: #0066ff;
    text-align: center;
    margin-bottom: 20px;
}

.form-box {
    margin-bottom: 15px;
}

.form-box label {
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}

.form-box input,
.form-box textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.add-btn {
    background: #0d6efd;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

.download-btn {
    width: 100%;
    background: #28a745;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 16px;
}

/* RESUME SECTION */
.resume-section {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.08);

    width: 210mm;
    min-height: 297mm;
    margin: auto;

    box-sizing: border-box;
}

.block {
    page-break-inside: avoid;
    margin-bottom: 25px;
}
